header {
    background-color: rgb(43, 205, 226);
}

h2 {
    background-color: rgb(255, 174, 127);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    background-color: rgb(196, 241, 255);
    color: #23424; 
}